@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,400&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  color: rgb(53, 53, 53);
}

.main-contaier {
  width: 700px;
  height: 1000px;
  border: 15px solid black;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  margin: 0;
}

.blue {
  background-color: rgba(0, 0, 255, 0.61);
  background-image: url('https://www.transparenttextures.com/patterns/soft-wallpaper.png');
  position: absolute;
}

.red {
  background-color: red;
  position: relative;
  top: 50px;
  z-index: -1;
}

.text {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
}

.col-1 {
  width: 25%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  margin-top: 15px;
}

.col-2 {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.last-p {
  margin-top: 15px;
}

#tiny-text {
  font-size: 6px;
  color: black;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  position: relative;
  left: 680px;
  bottom: 170px;
}

span {
  margin-left: 12px;
}
